.block {
    width: 460px;
    display: inline-block;
}
.header {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
}
.text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
}
.timelocation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    font-style: italic;
}
.link {
    color: #629632;
    margin: 10px 0px 3px;
}
#block2 {
    float: right;
}
.event {
    margin-top: 10px;
}
.event-name {
    font-size: 17px;
    font-weight: 700;
    color: black;
}
#past-events {
    margin-top: 30px;
}
#panels {
    margin-top: 20px;
    border-bottom: black solid 2px;
}
.tab {
    display: inline-block;
    background: black;
    color: grey;
    padding: 5px;
    width: 100px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-right: 5px;
    font-weight: 300;
    cursor: pointer;
}
#initialtab {
    color: white;
    margin-left: 10px;
}
#block4 {
    float: right;
}
#past-semesters {
    margin-top: 30px;
}
.greylinkheader {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    color: grey;
}
