.block {
    width: 460px;
    display: inline-block;
}
.header {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
}
.text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
}
.timelocation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    font-style: italic;
}
.link {
    color: #629632;
    margin: 10px 0px 3px;
}
.event {
    margin-top: 10px;
}
.event-name {
    font-size: 17px;
    font-weight: 700;
    color: black;
}
.hackplus {
    height: 170px;
    margin: 7px 0px;
}
.hknlan {
    height: 170px;
    margin: 7px 0px;
}
.gm2 {
    height: 170px;
    margin: 7px 0px;
}
.gradpanel {
    height: 133px;
    margin: 7px 0px;
}
#panels {
    margin-top: 20px;
    border-bottom: black solid 2px;
}
.tab {
    display: inline-block;
    background: black;
    color: grey;
    padding: 5px;
    width: 100px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-right: 5px;
    font-weight: 300;
    cursor: pointer;
}
#initialtab {
    color: white;
    margin-left: 10px;
}
#hackathon {
    height: 230px;
    margin: 7px 0px;
}
#codingforgrub {
    height: 181px;
    margin: 7px 0px;
}
#hackplusplus {
    height: 224px;
    margin: 7px 0px;
}
#info {
    display: none;
}
#zynga {
    height: 195px;
    margin: 7px 0px;
}
#industrypanel {
    height: 140px;
    margin: 7px 0px;
}
#squareworkshop {
    height: 238px;
    margin: 7px 0px;
}
#jack {
    height: 244px;
    margin: 7px 0px;
}
#startupfair2013 {
    height: 170px;
    margin: 7px 0px;
}
#threem {
    height: 242px;
    margin: 7px 0px;
}
#social {
    display: none;
}
#welcomebbq {
    height: 242px;
    margin: 7px 0px;
}
#boardgamenight {
    height: 255px;
    margin: 7px 0px;
}
#meeting {
    display: none;
}
#gmone {
    height: 224px;
    margin: 7px 0px;
}
#block4 {
    float: right;
}
