.block {
    width: 460px;
    display: inline-block;
}
.header {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
}
.text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
}
#welcome {
    margin-bottom: 10px;
}
.link {
    color: black;
    margin: 10px 0px 3px;
}
#block2 {
    float: right;
}
.event {
    margin-top: 10px;
}
.event-name {
    font-size: 17px;
    font-weight: 700;
}
.hackplus {
    height: 170px;
    margin: 7px 0px;
}
.hknlan {
    height: 170px;
    margin: 7px 0px;
}
.gm2 {
    height: 170px;
    margin: 7px 0px;
}
.gradpanel {
    height: 133px;
    margin: 7px 0px;
}
