.header {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
}
.text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 5px;
}
.about {
    margin-bottom: 20px;
}
#block1 {
    width: 460px;
    display: inline-block;
}
#block2 {
    width: 460px;
    float: right;
    display: inline-block;
}
.officer {
    height: 260px;
}
.photoone {
    height: 250px;
    display: inline-block;
    float: left;
    position: relative;
    z-index: 2;
}
.phototwo {
    height: 250px;
    display: none;
    float: left;
    position: absolute;
    z-index: 1;
}
.singlephoto {
    height: 250px;
    display: inline-block;
    float: left;
}
.info {
    margin: 5px 0px 0px 20px;
    width: 189px;
    display: inline-block;
}
.name {
    font-weight: 600;
}
.officehours {
    font-size: 14px;
}
.description {
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}
#past-officers {
    margin-top: 20px;
}
.greylinkheader {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    color: grey;
}
