.header {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
}
.text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 5px;
}
.politburo {
    margin-top: 20px;
}
.photo {
    display: inline-block;
    float: left;
    height: 300px;
}
.info {
    display: inline-block;
    width: 600px;
    margin-left: 30px;
}
.name {
    font-style: italic;
    font-size: 15px;
}
.title {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0px;
}
.email {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
}
#past-politburo {
    margin-top: 20px;
}
.greylinkheader {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    color: grey;
}
