.politburo {
    margin-top: 20px;
}
.pbphoto {
    display: inline-block;
    float: left;
    width: 300px;
}
.info {
    display: inline-block;
    width: 600px;
    margin-left: 30px;
}
.name {
    font-style: italic;
    font-size: 15px;
}
.title {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0px;
}
.email {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
}
#past-politburo {
    margin-top: 20px;
}
